body {
    padding: 1%;
    font-family: "Helvetica Neue";
    color: #666;
    font-size: 15px;
    line-height: 1.2;
}
.field-container {
    display: table;
    margin-bottom: 12px;
    vertical-align: top;
    width: 100%;

    &.half {
        width: 50%;
    }
    &.third {
        width: 33.3%;
    }
    &.quarter {
        width: 25%;
    }
}
.inline-label-form {
    > label {
        width: 14%;
        display: table-cell;
        padding-top: 9px;
        margin: 0;
        text-align: left;
        padding-right: 15px;
        font-weight: 600;
        color: #32383e;
        vertical-align: top;
    }
}

.field-boxes {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: flex-start;
    max-width: 100%;

    label {
        font-weight: 400;
        display: table;
        width: 50%;
        flex-basis: 50%;
        text-align: left;
        padding-top: 9px;
        padding-bottom: 9px;
        vertical-align: baseline;
        > * {
            display: table-cell;
            &:last-child {
                width: 100%;
                padding-right: 15px;
            }
            &[class*="icon-"] {
                padding-right: 7px;
            }
        }
    }

    &.quarter label {
        flex-basis: 25%;
        width: 25%;
    }
}

input[type="checkbox"],
input[type="radio"] {
    display: inline;
    width: auto;
    margin-right: 7px;
}
